<%= render 'coaches/corner_navigation' %>
<% if @team.present? %>
  <div class="dashboard" ng-controller='DashboardController'>
    <div class='row'>
      <div class='col-md-6'>
        <%= render 'team_activity_detailed', :team => @team, :players => @players %>
      </div>
      <div class='col-md-6'>
        <%= render 'team_activity_today', :team => @team %>
        <%= render 'player_profile' %>
      </div>
    </div>
  </div>
  <%= will_paginate_bootstrap @teams, :page_links => false, :params => {:players_page => 1} %>
<% else %>
  <h1>You have no teams</h1>
<% end %>