<div class="row">
  <div class="col-md-6">
    <h3> New Users Sign up </h3>
    <p>
      <%= link_to "Players >", new_user_registration_path(:role_type => "player"), :class => "btn btn-default" %>
    </p>
    <p>
      <%= link_to "Coaches >", new_user_registration_path(:role_type => "coach"), :class => "btn btn-default" %>
    </p>
    <p>
      <%= link_to "Parents >", new_user_registration_path(:role_type => "parent"), :class => "btn btn-default" %>
    </p>
  </div>
  <div class="col-md-6">
    <h3> iLax Login </h3>

    <%= simple_form_for @user, :url => user_session_path, :class => "form-horizontal" do |f| %>
      <div class="form-group">
        <%= f.input :email, :input_html => {:class => "form-control"} %>
      </div>
      <div class="form-group">
        <%= f.input :password, :input_html => {:class => "form-control"} %>
      </div>

      <div><%= f.submit "Log in", :class => "btn btn-default" %></div>
    <% end %>

    <p> <%= link_to "Connect with Facebook", "#", :class => "btn btn-default" %> </p>
  </div>
</div>