<nav class="navbar navbar-default subnav" role="navigation">
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav">
      <li>
        <%= link_to "All Plans" %>
      </li>
      <li class="<%= 'active' if params[:controller] == 'coaches/plans' &&
              params[:action] == 'new' %>">
        <%= link_to "Create Plan", new_coaches_plan_path %>
      </li>
      <li>
        <%= link_to "Assign Plan" %>
      </li>
      <li class="<%= 'active' if params[:controller] == 'coaches/assessments' &&
              params[:action] == 'index' %>">
        <%= link_to "All Assessments", coaches_assessments_path %>
      </li>
      <li class="<%= 'active' if params[:controller] == 'coaches/assessments' &&
                                  params[:action] == 'new' %>">
        <%= link_to "Create Assessment", new_coaches_assessment_path %>
      </li>
      <li class="<%= 'active' if params[:controller] == 'coaches/rewards' %>">
        <%= link_to "Rewards", coaches_rewards_path %>
      </li>
    </ul>
  </div>
</nav>