<div class="footer navbar">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h3> Information: </h3>
        <p> <%= link_to 'About' %> </p>
        <p> <%= link_to 'Contact' %> </p>
        <p> <%= link_to 'Press' %> </p>
      </div>
      <div class="col-md-3">
        <h3> iLax stats: </h3>
        <p> <%= link_to '705, 543' %> Development Plans </p>
        <p> <%= link_to '1 350 000' %> Passes </p>
        <p> <%= link_to '5 432 124' %> Minutes logged</p>
      </div>
      <div class="col-md-3">
        <h3> Copyright info: </h3>
        <p> 2013 Altoros Development  </p>
        <p> Dombrovskaia 9 </p>
        <p> Belarus, Minsk, 220040 </p>
      </div>
    </div>
  </div>
</div>