<div class="row">
  <div class="col-md-3">
    <p> A Footer Menu </p>
    <p> <%= link_to 'Link 1' %> </p>
    <p> <%= link_to 'Link 2' %> </p>
    <p> <%= link_to 'Link 3' %> </p>
    <p> <%= link_to 'Link 4' %> </p>
  </div>
  <div class="col-md-3">
    <p> A Footer Menu 2</p>
    <p> <%= link_to 'Link 1' %> </p>
    <p> <%= link_to 'Link 2' %> </p>
    <p> <%= link_to 'Link 3' %> </p>
    <p> <%= link_to 'Link 4' %> </p>
  </div>
  <div class="col-md-3">
    <p> iLax stats </p>
    <p> <%= link_to '10' %> Countries </p>
    <p> <%= link_to '705, 543' %> Development Plans </p>
    <p> <%= link_to '1 350 000' %> Passes </p>
    <p> <%= link_to '5 432 124' %> Minutes logged</p>
  </div>
  <div class="col-md-3">
    <p> Copyright info </p>
    <p> 2013 iLax </p>
    <p> 132 Address Road </p>
    <p> City, State, 12345 </p>
  </div>
</div>