<!DOCTYPE html>
<html ng-app="sports-app">
<head>
  <title>Sportive Kid - your road to a healthy future!</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'layouts/header' %>
<div class="container">
  <div class="row-fluid">
    <%= flash_messages %>
  </div>
  <%= render 'layouts/dashboard' %>
  <%= yield %>
  <div notifications="bottom right"></div>
</div>
<%= render 'layouts/footer' %>

</body>
</html>
