<div class="row">
  <%= simple_form_for @user, :url => user_registration_path, :html => { :class => 'form-horizontal',
                                                                        'ng-controller' => 'RegistrationController'} do |form| %>
    <div class="col-md-6">
      <div class="form-group">
        <%= label_tag 'Account', nil, :class => 'control-label col-lg-2' %>
        <div class='controls col-lg-10'>
          <%= select_tag :role_type, {}, :class => "form-control", 'ng-options' => 'value for (key, value) in roleTypes', 'ng-model' => "roleTypeSelect",
                         'ng-init' => "roleTypeSelect = '#{params[:role_type].try(:capitalize) || 'Player'}'"%>
        </div>
      </div>
      <div class="form-group">
        <%= form.input :name, :input_html => {:class => "form-control"} %>
      </div>
      <div class="form-group">
        <%= form.input :email, :input_html => {:class => "form-control"} %>
      </div>
      <div class="form-group">
        <%= form.input :username, :input_html => {:class => "form-control"} %>
      </div>
      <div class="form-group">
        <%= form.input :password, :input_html => {:class => "form-control"} %>
      </div>
      <div class="form-group">
        <%= form.input :password_confirmation, :input_html => {:class => "form-control"} %>
      </div>
      <div class="form-group" ng-show="roleTypeSelect=='Player'">
        <%= label_tag 'Program code', nil, :class => 'control-label col-lg-2' %>

        <div class='controls col-lg-10'>
          <%= text_field_tag :program_code, nil, :class => "form-control" %>
          <%= form.error :program_code %>
        </div>
      </div>
      <div class="form-group form-inline">
        <%= form.input :gender, :as => :radio_buttons, :collection => ['Male', 'Female'], item_wrapper_class: 'inline', :input_html => {:class => "form-control"} %>
      </div>

      <div class="form-group">
        <%= form.input :birthday, :as => :string, :input_html => { :class => "form-control",
                                                                   'ng-model' => 'datepicker.date',
                                                                   'data-date-format' => "dd/mm/yyyy",
                                                                   'bs-datepicker' => ""
                                                                 } %>
        <!--<button type="button" class="btn" data-toggle="datepicker"><span class="glyphicon glyphicon-calendar"></span></button>-->
      </div>
      <div class="form-group">
        <%= form.input :country, :input_html => {:class => "form-control"} %>
      </div>
    </div>
    <div class="col-md-3 col-md-offset-1">
      Skip the signup and connect with Facebook
      <p> <%= link_to "Connect with Facebook", "#", :class => "btn btn-info" %> </p>
      <div><%= form.submit "Create account >", :class => "btn btn-primary" %></div>
    </div>
  <% end %>
</div>